{
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "printWidth": 80,
  "tailwindFunctions": ["clsx", "tw"],
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"]
}